.list{
    color: white;
    width:70%;
    height:50px;
    margin:20px auto;
}
.list p{
    padding: 12px;
    align-items: center;
    position: relative;
    background-color:rgb(226, 46, 166);
}
.list p span{
    position: absolute;
    right:10px;
    cursor: pointer;   
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.list p input:focus{
    outline:none;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}